.env
.env.*
node_modules
Dockerfile
docker-compose.*
.dockerignore
.gitignore
npm-debug.log
README.*
LICENSE.*
.next
.git
.husky
.github

# PWA
/public/service-worker.js
/public/service-worker.js.map
/public/workbox-*.js
/public/workbox-*.js.map